<%- include("./partial/header.ejs") %>
<div class="container-fluid">
  <div class="row">
    <div class="col-sm-2">
      <%- include("./partial/sidebar.ejs", {page_name :'home'}) %>
    </div>
    <div class="col-sm-10">
      <div class="mt-5">
        <div class="text-center">
            <img src="/img/pic1.jpg" alt=""  class="img-thumbnail" width="250px" height="150px">
        </div>
        <div class="mt-5 text-white mx-5 text-justify">
            <h1 class="fw-bold st-font">Hello,</h1>
            <div class="px-4" style="line-height: rem;">
                <p style="text-indent:100px;">I am <b class="text-warning"> Sikandar Chauhan</b> having 5 year of experiance full stack web developer Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolor molestias quibusdam nulla veniam nihil consequuntur ea reiciendis dolore a? Culpa!</p>
            </div>
        </div>
        <div class="text-center">
            <a href="/contact" class=" btn btn-outline-warning mx-5 my-3">Hire Me</a>
            <a href="/contact" class="btn btn-outline-info">Contact</a>
        </div>
      </div>
    </div>
  </div>
</div>
<%- include("./partial/footer.ejs") %>
